# Load the shared object
useDynLib(HIBAG,
    HIBAG_Init, HIBAG_Done, HIBAG_ErrMsg,
    HIBAG_AlleleStrand, HIBAG_BEDFlag, HIBAG_ConvBED,
    HIBAG_Close, HIBAG_Confusion,
    HIBAG_GetNumClassifiers, HIBAG_Idv_GetNumHaplo, HIBAG_Classifier_GetHaplos,
    HIBAG_SortAlleleStr,
    HIBAG_Predict_Resp_Prob, HIBAG_Predict_Prob, HIBAG_Predict_Resp,
    HIBAG_Training,
    HIBAG_New, HIBAG_NewClassifiers, HIBAG_NewClassifierHaplo
)

# Export function names
exportPattern("^[^\\.|HIBAG]")
export(.onAttach, .Last.lib)

# Imports
import(methods)
importFrom(GenomicRanges, makeGRangesFromDataFrame)
